<div *transloco="let t" class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-4 py-2 sm:py-2 sm:px-4 border-b bg-card dark:bg-transparent">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <!-- Title -->
            <div class="mt-1">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('processes.manageTurns') }}
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 justify-end items-center mt-4 sm:mt-0 sm:ml-4" [formGroup]="clientSelectedForm">
            <!-- Search -->
            <admin-mat-select-search classCustom="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64"
                [items]="clients" itemsKey="nombres" [isValueId]="false" controlName="client"></admin-mat-select-search>
            <button class="mr-2" mat-icon-button color="primary" [disabled]="isLoading" (click)="getTurns()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-flat-button [color]="'primary'" (click)="openDialogUploadFile()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">{{ t('actions.add') }}</span>
            </button>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel class="custom-accordion" [expanded]="isPanelOpen" (closed)="isPanelOpen = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold">
                    Información del Cliente:
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class='flex flex-auto justify-around flex-col sm:flex-row' [formGroup]="clientForm">
                <div class="inline-block">
                    <div class="flex flex-auto flex-col w-3/4">
                        <mat-label class="font-bold">{{ t('forms.names') }}</mat-label>
                        <input class="border-b-2" type="text" readonly formControlName="nombres">
                    </div>
                </div>
                <div class="inline-block">
                    <div class="flex flex-auto flex-col w-3/4">
                        <mat-label class="font-bold">{{ t('forms.surnames') }}</mat-label>
                        <input class="border-b-2" type="text" readonly formControlName="apellidos">
                    </div>
                </div>
                <div class="inline-block">
                    <div class="flex flex-auto flex-col w-3/4">
                        <mat-label class="font-bold">{{ t('forms.identification') }}</mat-label>
                        <input class="border-b-2" type="text" readonly formControlName="identificacion">
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Main -->
    <div class="flex flex-auto overflow-y-auto" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="flex flex-col flex-auto sm:overflow-y-auto p-2 sm:p-4">
            <mat-card class="h-full">
                <mat-card-title>Registrar Vehiculo</mat-card-title>
                <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                <mat-card-content>
                    <div mat-dialog-content class="flex flex-col" [formGroup]="turnForm">
                        <mat-form-field>
                            <mat-label>Placa</mat-label>
                            <input matInput type="text" [maxlength]="minLengthCode" formControlName="placaVehiculo">
                            <mat-error *ngIf="clientForm.invalid">ERROR</mat-error>
                        </mat-form-field>
                        <admin-mat-select-search label='Tipo de Vehiculo' [items]="typeVehicles" itemsKey="nombre"
                            controlName="idTipoVehiculo"></admin-mat-select-search>
                        <mat-form-field>
                            <mat-label>Valor</mat-label>
                            <input matInput type="text" readonly [maxlength]="minLengthCode" formControlName="valor">
                            <mat-error *ngIf="clientForm.invalid">ERROR</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <button mat-raised-button class="min-w-26" [mat-dialog-close]="false" [disabled]="isLoading"
                        color="warn">{{ t('actions.cancel') }}</button>
                    <button mat-raised-button class="min-w-26" [disabled]="isLoading || turnForm.invalid"
                        color="primary" (click)="save()">
                        <ng-container *ngIf="isLoading; else elseTemplate">
                            <mat-spinner [diameter]="25"></mat-spinner>
                        </ng-container>
                        <ng-template #elseTemplate>
                            {{ t('actions.save') }}
                        </ng-template>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>